@model ServerRequestWebApp.Controllers.LoginViewModel

@{
    /**/

    if (!User.Identity.IsAuthenticated /*|| ServerRequestWebApp.Models.MySession.Current.IsAdmin == false*/)
    {
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else if (User.Identity.IsAuthenticated )
    {
        ViewBag.Title = "Dashboard";
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }

}


@if (!User.Identity.IsAuthenticated )
{
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Welcome @User.Identity.Name</h1>
        <p class="lead">This site is only accessible to  Personnel registered to the Craft Silicon domain</p>
        <p>

        </p>
    </div>
</div>

}

@if (User.Identity.IsAuthenticated)
{
    @*<div class="row">
        <div class="col-md-4">
            <h2>Access Server Access Forms</h2>
            <p>
                This page is restricted to users in role "Users" in the domain.
            </p>
            <p>@Html.ActionLink("Only For Users", "OnlyForUsers", "Home", new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>Change Request Forms</h2>
            <p>To access change request forms</p>
            <p>@Html.ActionLink("Never Get There", "ForNonExistingRole", "Home", new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4">
            <h2>My Account</h2>
            <p>Here is the list of resulting claims on the cookie.</p>
            <p>@Html.ActionLink("My Claims", "MyClaims", "Home", new { @class = "btn btn-default" })</p>
        </div>
    </div>*@

    <section class="content-header">
        <h1>Welcome @User.Identity.Name</h1>
        <p class="lead">This site is only accessible to  Personnel registered to the Craft Silicon domain</p>
        @*<h1>
            Home
            <small>Optional description</small>
        </h1>*@
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <div>
            
        </div>
    </section>

}

